<!doctype html>

<html>
	<head>
		<meta charset="utf8" />
		<title>IATI Viewer</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
		<link href="vendor/bootstrap-glyphicons/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
		  <div class="container">
			<a class="navbar-brand" href="#"><b>IATI Viewer</b></a>
			<div class="nav-collapse collapse">
			  <ul class="nav navbar-nav">
				<li>
				  <a href="#allprojects">All Projects</a>
				</li>
				<li class="active">
				  <a href="#project">Project</a>
				</li>
				<li>
				  <a href="#previous">&laquo; Previous</a>
				</li>
				<li>
				  <a href="#next">Next &raquo;</a>
				</li>
			  </ul>
			
			  <ul class="nav navbar-nav pull-right">
				<li>
				  <a href="#">Change search <b class="caret"></b></a>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
		<div class="content">
				
			<div id="loading" class="text-center text-muted">
				<h1>
					<small><span class="glyphicon glyphicon-refresh"></span></small> 
					Loading...
				</h1>
			</div>
			<form>
				<!-- Form ? -->
			</form>

			<div id="report"></div>

			<script id="reportTemplate" type="template">
				<h1><%=title%></h1>
				<h3><code><%=iati_identifier%></code></h3>
				<p><%=description%></p>
				<p>
					<% _.each(participatingOrgs, function(po) { %>
						→ <%= po.content %> ( <em> Role: <%= po.role %> </em> ) <br/>
					<% }); %>
				</p>
				<h2>Stats:</h2>
				<table class="table table-bordered">
					<% _.each(stats, function(stat) { %>
						<tr>
							<td><%=stat.name%></td>
							<td><%=stat.value%></td>
						</tr>
					<% }); %>
				</table>
				<h2>Results:</h2>
				<table class="table table-bordered">
                    <thead>
                        <th>Name</th>
                        <th>Target</th>
                        <th>Actual</th>
                        <th></th>
                    </thead>
                    <tbody>
					<% _.each(results, function(result) { %>
						<tr>
							<td><%=result.title%></td>
                            <td><%=result.target%></td>
                            <td><%=result.actual%></td>                    
							<td width="50%">
                              <div class="progress">
                                <div class="progress-bar" style="width: <%=result.value%>%;"></div>
                              </div>
                            </td>
						</tr>
					<% }); %>
                    </tbody>
				</table>
			</script>
		</div>

		<script src="vendor/jquery.js"></script>
		<script src="vendor/lodash.js"></script>
		<script src="vendor/backbone.js"></script>

		<script src="http://code.highcharts.com/highcharts.js"></script>

		<script data-main="js/main.js" src="vendor/require.js"></script>

	</body>
</html>
